*
{
	display: block;
	margin: 0 auto;
	padding: 0 auto;
}

input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
}

#my_info span
{
	width: 15em;
	height: 2em;
	margin: auto;
	font-size: 1.5em;
	color: whitesmoke;
	margin-top:0.2em;
}

#my_top_back
{
	margin-top: 10px;
	background-color: rgba(11,11,11,0.3);
	width: 200px;
	height: 40px;
	text-align: center;
	border-radius: 3em;
	font-size: 50px;
	color: white;
}

#p_list
{
	text-align: center;
}

body
{
	margin: 0 auto;
	padding: 0 auto;
}

#margin_block
{
	height:50px;
	width:100%;
}