*
{
	display: block;
	margin: 0 auto;
	padding: 0 auto;
}

#select_button
{
	width: 80%;
	font-size: 15px;
	height: 2.8em;
	border-radius: 0.6em;
	border-style: none;
	background-color: lightseagreen;
	color: whitesmoke;
	margin: 0 auto;
	padding: 0 auto;
}

#place_select
{
	margin: 0 auto;
	padding: 0 auto;
}

#back_home
{
	text-align: right;
}

p
{
	font-size: 20px;
	text-align: center;
	font-weight: normal;
}

img
{
	width: 40%;
}

hr
{
	margin: 0 auto;
	padding: 0 auto;
}

#place_select
{
	background: #FFFDF4;
	border: 2px solid #D2BA85;
	border-radius: 5px;
	color: black;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent: 5px;
	vertical-align: middle;
	width: 140px;
}

#margin_block
{
	height:50px;
	width:100%;
}