<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta charset="UTF-8">
<title>コーデログ-新規登録</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />

<link rel="stylesheet" href="css/common.css">

<link rel="stylesheet" href="css/new_registration.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/slide_menu.js"></script>

</head>
<body>
	<br>
	<a href=<?php if(isset($_SESSION['id'])) echo "?act=home"; else echo "?act=login"; ?> id="back_to_login">ホームまたはログイン画面へ戻る</a><br><br>
	<p id="error"><?php if(isset($error_message)) echo $error_message; ?></p>
	<p id="success"><?php if(isset($success_message)) echo $success_message; ?></p>
	<p id="welcome">Welcome to CODE.log !!</p><br>
	<form action=?act=new_registration_check method="post" id="new_form">
	    <table id="new_registration_table">
	        <tr>
	            <td class="label">ID</td>
	            <td><input type="text" name="id" class="id_pass_box"></td>
	        </tr>
	        <tr>
	            <td class="label">password</td>
	            <td><input type="password" name="password" class="id_pass_box"></td>
	        </tr>
	        <tr>
	        	<td class="label">Your City</td>
	        	<td>
	        		<select name="city" id="city_select">
						<option value="Abashiri" selected>Abashiri</option>
						<option value="Ageo" style="font:20px">Ageo</option>
						<option value="Akabira">Akabira</option>
						<option value="Aki">Aki</option>
						<option value="Ako">Ako</option>
						<option value="Akune">Akune</option>
						<option value="Amagasaki">Amagasaki</option>
						<option value="Ami">Ami</option>
						<option value="Anan">Anan</option>
						<option value="Anjo">Anjo</option>
						<option value="Annaka">Annaka</option>
						<option value="Aomori-shi">Aomori-shi</option>
						<option value="Asahi">Asahi</option>
						<option value="Asahikawa">Asahikawa</option>
						<option value="Asaka">Asaka</option>
						<option value="Ashibetsu">Ashibetsu</option>
						<option value="Ashikaga">Ashikaga</option>
						<option value="Atami">Atami</option>
						<option value="Atsugi">Atsugi</option>
						<option value="Ayabe">Ayabe</option>
						<option value="Bibai">Bibai</option>
						<option value="Bihoro">Bihoro</option>
						<option value="Chatan">Chatan</option>
						<option value="Chiba-shi">Chiba-shi</option>
						<option value="Chichibu">Chichibu</option>
						<option value="Chigasaki">Chigasaki</option>
						<option value="Chiryu">Chiryu</option>
						<option value="Chofu">Chofu</option>
						<option value="Daigo">Daigo</option>
						<option value="Daito">Daito</option>
						<option value="Date">Date</option>
						<option value="Ebetsu">Ebetsu</option>
						<option value="Enzan">Enzan</option>
						<option value="Fuchu">Fuchu</option>
						<option value="Fujieda">Fujieda</option>
						<option value="Fujinomiya">Fujinomiya</option>
						<option value="Fujioka">Fujioka</option>
						<option value="Fujisawa">Fujisawa</option>
						<option value="Fukagawa">Fukagawa</option>
						<option value="Fukaya">Fukaya</option>
						<option value="Fukuchiyama">Fukuchiyama</option>
						<option value="Fukuoka-shi">Fukuoka-shi</option>
						<option value="Fukushima-shi">Fukushima-shi</option>
						<option value="Fukuyama">Fukuyama</option>
						<option value="Funabashi">Funabashi</option>
						<option value="Funaishikawa">Funaishikawa</option>
						<option value="Futtsu">Futtsu</option>
						<option value="Gamagori">Gamagori</option>
						<option value="Gifu-shi">Gifu-shi</option>
						<option value="Godo">Godo</option>
						<option value="Gojo">Gojo</option>
						<option value="Gose">Gose</option>
						<option value="Gosen">Gosen</option>
						<option value="Goshogawara">Goshogawara</option>
						<option value="Gotemba">Gotemba</option>
						<option value="Gotsu">Gotsu</option>
						<option value="Gushikawa">Gushikawa</option>
						<option value="Gyoda">Gyoda</option>
						<option value="Hachioji">Hachioji</option>
						<option value="Hadano">Hadano</option>
						<option value="Hagi">Hagi</option>
						<option value="Hakodate">Hakodate</option>
						<option value="Hakone">Hakone</option>
						<option value="Hakui">Hakui</option>
						<option value="Hamada">Hamada</option>
						<option value="Hamamatsu">Hamamatsu</option>
						<option value="Hanamaki">Hanamaki</option>
						<option value="Handa">Handa</option>
						<option value="Hanno">Hanno</option>
						<option value="Hanyu">Hanyu</option>
						<option value="Hasaki">Hasaki</option>
						<option value="Hashimoto">Hashimoto</option>
						<option value="Hasuda">Hasuda</option>
						<option value="Hatogaya">Hatogaya</option>
						<option value="Hatsukaichi">Hatsukaichi</option>
						<option value="Hayama">Hayama</option>
						<option value="Higashine">Higashine</option>
						<option value="Hiji">Hiji</option>
						<option value="Hikari">Hikari</option>
						<option value="Hikone">Hikone</option>
						<option value="Himeji">Himeji</option>
						<option value="Himi">Himi</option>
						<option value="Hirado">Hirado</option>
						<option value="Hirakata">Hirakata</option>
						<option value="Hirara">Hirara</option>
						<option value="Hiratsuka">Hiratsuka</option>
						<option value="Hirosaki">Hirosaki</option>
						<option value="Hiroshima-shi">Hiroshima-shi</option>
						<option value="Hita">Hita</option>
						<option value="Hitoyoshi">Hitoyoshi</option>
						<option value="Hondo">Hondo</option>
						<option value="Honjo">Honjo</option>
						<option value="Ibusuki">Ibusuki</option>
						<option value="Ichihara">Ichihara</option>
						<option value="Ichikawa">Ichikawa</option>
						<option value="Ichinohe">Ichinohe</option>
						<option value="Ichinomiya">Ichinomiya</option>
						<option value="Ichinoseki">Ichinoseki</option>
						<option value="Iiyama">Iiyama</option>
						<option value="Iizuka">Iizuka</option>
						<option value="Ikoma">Ikoma</option>
						<option value="Imari">Imari</option>
						<option value="Ina">Ina</option>
						<option value="Ino">Ino</option>
						<option value="Inuyama">Inuyama</option>
						<option value="Isahaya">Isahaya</option>
						<option value="Ise">Ise</option>
						<option value="Isesaki">Isesaki</option>
						<option value="Ishii">Ishii</option>
						<option value="Ishikari">Ishikari</option>
						<option value="Ishinomaki">Ishinomaki</option>
						<option value="Itako">Itako</option>
						<option value="Ito">Ito</option>
						<option value="Iwaki">Iwaki</option>
						<option value="Iwakuni">Iwakuni</option>
						<option value="Iwakura">Iwakura</option>
						<option value="Iwamizawa">Iwamizawa</option>
						<option value="Iwanai">Iwanai</option>
						<option value="Iwanuma">Iwanuma</option>
						<option value="Iyo">Iyo</option>
						<option value="Izumi">Izumi</option>
						<option value="Izumi">Izumi</option>
						<option value="Izumiotsu">Izumiotsu</option>
						<option value="Izumo">Izumo</option>
						<option value="Kadoma">Kadoma</option>
						<option value="Kainan">Kainan</option>
						<option value="Kaita">Kaita</option>
						<option value="Kakamigahara">Kakamigahara</option>
						<option value="Kakegawa">Kakegawa</option>
						<option value="Kakogawa">Kakogawa</option>
						<option value="Kakuda">Kakuda</option>
						<option value="Kamaishi">Kamaishi</option>
						<option value="Kamakura">Kamakura</option>
						<option value="Kameoka">Kameoka</option>
						<option value="Kameyama">Kameyama</option>
						<option value="Kamiichi">Kamiichi</option>
						<option value="Kaminokawa">Kaminokawa</option>
						<option value="Kaminoyama">Kaminoyama</option>
						<option value="Kami-renjaku">Kami-renjaku</option>
						<option value="Kamo">Kamo</option>
						<option value="Kanazawa-shi">Kanazawa-shi</option>
						<option value="Kanda">Kanda</option>
						<option value="Kanonji">Kanonji</option>
						<option value="Kanuma">Kanuma</option>
						<option value="Kanzaki">Kanzaki</option>
						<option value="Karatsu">Karatsu</option>
						<option value="Kariya">Kariya</option>
						<option value="Kasama">Kasama</option>
						<option value="Kasamatsucho">Kasamatsucho</option>
						<option value="Kashihara">Kashihara</option>
						<option value="Kashima">Kashima</option>
						<option value="Kashima-shi">Kashima-shi</option>
						<option value="Kashiwa">Kashiwa</option>
						<option value="Kashiwazaki">Kashiwazaki</option>
						<option value="Kasukabe">Kasukabe</option>
						<option value="Katsuyama">Katsuyama</option>
						<option value="Kawagoe">Kawagoe</option>
						<option value="Kawaguchi">Kawaguchi</option>
						<option value="Kawanishi">Kawanishi</option>
						<option value="Kazuno">Kazuno</option>
						<option value="Kikuchi">Kikuchi</option>
						<option value="Kimitsu">Kimitsu</option>
						<option value="Kiryu">Kiryu</option>
						<option value="Kisarazu">Kisarazu</option>
						<option value="Kitakata">Kitakata</option>
						<option value="Kitakyushu">Kitakyushu</option>
						<option value="Kitami">Kitami</option>
						<option value="Kitsuki">Kitsuki</option>
						<option value="Kobayashi">Kobayashi</option>
						<option value="Kobe-shi">Kobe-shi</option>
						<option value="Kochi-shi">Kochi-shi</option>
						<option value="Kodaira">Kodaira</option>
						<option value="Kofu-shi">Kofu-shi</option>
						<option value="Koga">Koga</option>
						<option value="Koga">Koga</option>
						<option value="Koganei">Koganei</option>
						<option value="Kokubu">Kokubu</option>
						<option value="Kokubunji">Kokubunji</option>
						<option value="Komae">Komae</option>
						<option value="Komaki">Komaki</option>
						<option value="Komatsu">Komatsu</option>
						<option value="Komatsushima">Komatsushima</option>
						<option value="Komono">Komono</option>
						<option value="Konosu">Konosu</option>
						<option value="Koriyama">Koriyama</option>
						<option value="Koshigaya">Koshigaya</option>
						<option value="Kudamatsu">Kudamatsu</option>
						<option value="Kuki">Kuki</option>
						<option value="Kumagaya">Kumagaya</option>
						<option value="Kunitachi">Kunitachi</option>
						<option value="Kurashiki">Kurashiki</option>
						<option value="Kurayoshi">Kurayoshi</option>
						<option value="Kure">Kure</option>
						<option value="Kuroishi">Kuroishi</option>
						<option value="Kurume">Kurume</option>
						<option value="Kusatsu">Kusatsu</option>
						<option value="Kushikino">Kushikino</option>
						<option value="Kushima">Kushima</option>
						<option value="Kushiro">Kushiro</option>
						<option value="Kuwana">Kuwana</option>
						<option value="Kyoto">Kyoto</option>
						<option value="Machida">Machida</option>
						<option value="Maebashi-shi">Maebashi-shi</option>
						<option value="Makurazaki">Makurazaki</option>
						<option value="Marugame">Marugame</option>
						<option value="Marumori">Marumori</option>
						<option value="Mashiko">Mashiko</option>
						<option value="Masuda">Masuda</option>
						<option value="Matsubara">Matsubara</option>
						<option value="Matsudo">Matsudo</option>
						<option value="Matsue-shi">Matsue-shi</option>
						<option value="Matsumoto">Matsumoto</option>
						<option value="Matsuzaka">Matsuzaka</option>
						<option value="Mibu">Mibu</option>
						<option value="Miharu">Miharu</option>
						<option value="Miki">Miki</option>
						<option value="Minamata">Minamata</option>
						<option value="Mino">Mino</option>
						<option value="Mino">Mino</option>
						<option value="Mishima">Mishima</option>
						<option value="Mitake">Mitake</option>
						<option value="Mitsukaido">Mitsukaido</option>
						<option value="Mitsuke">Mitsuke</option>
						<option value="Miyako">Miyako</option>
						<option value="Miyakonojo">Miyakonojo</option>
						<option value="Miyazaki-shi">Miyazaki-shi</option>
						<option value="Miyazu">Miyazu</option>
						<option value="Miyoshi">Miyoshi</option>
						<option value="Mizunami">Mizunami</option>
						<option value="Mobara">Mobara</option>
						<option value="Mombetsu">Mombetsu</option>
						<option value="Mooka">Mooka</option>
						<option value="Mori">Mori</option>
						<option value="Moriguchi">Moriguchi</option>
						<option value="Moriya">Moriya</option>
						<option value="Moriyama">Moriyama</option>
						<option value="Morohongo">Morohongo</option>
						<option value="Motegi">Motegi</option>
						<option value="Murakami">Murakami</option>
						<option value="Muroran">Muroran</option>
						<option value="Musashino">Musashino</option>
						<option value="Mutsu">Mutsu</option>
						<option value="Nabari">Nabari</option>
						<option value="Nagahama">Nagahama</option>
						<option value="Nagai">Nagai</option>
						<option value="Nagano-shi">Nagano-shi</option>
						<option value="Nagaoka">Nagaoka</option>
						<option value="Nagareyama">Nagareyama</option>
						<option value="Nagasaki-shi">Nagasaki-shi</option>
						<option value="Nago">Nago</option>
						<option value="Naka">Naka</option>
						<option value="Nakamura">Nakamura</option>
						<option value="Nakano">Nakano</option>
						<option value="Nakanojo">Nakanojo</option>
						<option value="Nakatsugawa">Nakatsugawa</option>
						<option value="Namie">Namie</option>
						<option value="Nanae">Nanae</option>
						<option value="Nanao">Nanao</option>
						<option value="Narashino">Narashino</option>
						<option value="Narita">Narita</option>
						<option value="Naruto">Naruto</option>
						<option value="Nayoro">Nayoro</option>
						<option value="Nemuro">Nemuro</option>
						<option value="Nihommatsu">Nihommatsu</option>
						<option value="Niigata-shi">Niigata-shi</option>
						<option value="Nikko">Nikko</option>
						<option value="Nirasaki">Nirasaki</option>
						<option value="Nishinoomote">Nishinoomote</option>
						<option value="Nishio">Nishio</option>
						<option value="Nishiwaki">Nishiwaki</option>
						<option value="Nobeoka">Nobeoka</option>
						<option value="Noda">Noda</option>
						<option value="Nonoichi">Nonoichi</option>
						<option value="Noshiro">Noshiro</option>
						<option value="Numata">Numata</option>
						<option value="Nyuzen">Nyuzen</option>
						<option value="Obama">Obama</option>
						<option value="Obanazawa">Obanazawa</option>
						<option value="Obihiro">Obihiro</option>
						<option value="Obita">Obita</option>
						<option value="Obu">Obu</option>
						<option value="Oda">Oda</option>
						<option value="Odate">Odate</option>
						<option value="Odawara">Odawara</option>
						<option value="Ofunato">Ofunato</option>
						<option value="Ogaki">Ogaki</option>
						<option value="Ogawa">Ogawa</option>
						<option value="Ogori">Ogori</option>
						<option value="Oi">Oi</option>
						<option value="Oiso">Oiso</option>
						<option value="Oita-shi">Oita-shi</option>
						<option value="Ojiya">Ojiya</option>
						<option value="Okawa">Okawa</option>
						<option value="Okawara">Okawara</option>
						<option value="Okaya">Okaya</option>
						<option value="Okegawa">Okegawa</option>
						<option value="Okinawa">Okinawa</option>
						<option value="Omachi">Omachi</option>
						<option value="Ome">Ome</option>
						<option value="Omura">Omura</option>
						<option value="Ono">Ono</option>
						<option value="Onoda">Onoda</option>
						<option value="Onomichi">Onomichi</option>
						<option value="Osaka-shi">Osaka-shi</option>
						<option value="Ota">Ota</option>
						<option value="Otake">Otake</option>
						<option value="Otaru">Otaru</option>
						<option value="Otawara">Otawara</option>
						<option value="Otsuchi">Otsuchi</option>
						<option value="Otsuki">Otsuki</option>
						<option value="Otsu-shi">Otsu-shi</option>
						<option value="Oyama">Oyama</option>
						<option value="Ozu">Ozu</option>
						<option value="Ozu">Ozu</option>
						<option value="Rumoi">Rumoi</option>
						<option value="Sabae">Sabae</option>
						<option value="Sagae">Sagae</option>
						<option value="Sagamihara">Sagamihara</option>
						<option value="Saijo">Saijo</option>
						<option value="Saiki">Saiki</option>
						<option value="Sakado">Sakado</option>
						<option value="Sakai">Sakai</option>
						<option value="Sakai">Sakai</option>
						<option value="Sakaide">Sakaide</option>
						<option value="Sakaiminato">Sakaiminato</option>
						<option value="Sakata">Sakata</option>
						<option value="Saku">Saku</option>
						<option value="Sakura">Sakura</option>
						<option value="Sakurai">Sakurai</option>
						<option value="Sanda">Sanda</option>
						<option value="Sanjo">Sanjo</option>
						<option value="Sano">Sano</option>
						<option value="Sapporo-shi">Sapporo-shi</option>
						<option value="Sasayama">Sasayama</option>
						<option value="Sasebo">Sasebo</option>
						<option value="Satte">Satte</option>
						<option value="Sawara">Sawara</option>
						<option value="Sendai-shi">Sendai-shi</option>
						<option value="Seto">Seto</option>
						<option value="Shibata">Shibata</option>
						<option value="Shibukawa">Shibukawa</option>
						<option value="Shibushi">Shibushi</option>
						<option value="Shimabara">Shimabara</option>
						<option value="Shimada">Shimada</option>
						<option value="Shimoda">Shimoda</option>
						<option value="Shingu">Shingu</option>
						<option value="Shinjo">Shinjo</option>
						<option value="Shinshiro">Shinshiro</option>
						<option value="Shiogama">Shiogama</option>
						<option value="Shiojiri">Shiojiri</option>
						<option value="Shiraoi">Shiraoi</option>
						<option value="Shiraoka">Shiraoka</option>
						<option value="Shiroi">Shiroi</option>
						<option value="Shiroishi">Shiroishi</option>
						<option value="Shisui">Shisui</option>
						<option value="Shizukuishi">Shizukuishi</option>
						<option value="Shobara">Shobara</option>
						<option value="Soja">Soja</option>
						<option value="Sugito">Sugito</option>
						<option value="Suita">Suita</option>
						<option value="Sukumo">Sukumo</option>
						<option value="Sunagawa">Sunagawa</option>
						<option value="Suwa">Suwa</option>
						<option value="Suzuka">Suzuka</option>
						<option value="Tachikawa">Tachikawa</option>
						<option value="Tadotsu">Tadotsu</option>
						<option value="Tagawa">Tagawa</option>
						<option value="Tahara">Tahara</option>
						<option value="Tajimi">Tajimi</option>
						<option value="Takahama">Takahama</option>
						<option value="Takahashi">Takahashi</option>
						<option value="Takahata">Takahata</option>
						<option value="Takaishi">Takaishi</option>
						<option value="Takamatsu-shi">Takamatsu-shi</option>
						<option value="Takanabe">Takanabe</option>
						<option value="Takaoka">Takaoka</option>
						<option value="Takasaki">Takasaki</option>
						<option value="Takatsuki">Takatsuki</option>
						<option value="Takayama">Takayama</option>
						<option value="Takedamachi">Takedamachi</option>
						<option value="Takehara">Takehara</option>
						<option value="Taketoyo">Taketoyo</option>
						<option value="Takikawa">Takikawa</option>
						<option value="Tamamura">Tamamura</option>
						<option value="Tamana">Tamana</option>
						<option value="Tanabe">Tanabe</option>
						<option value="Tanashi">Tanashi</option>
						<option value="Tarui">Tarui</option>
						<option value="Tarumizu">Tarumizu</option>
						<option value="Tatebayashi">Tatebayashi</option>
						<option value="Tateyama">Tateyama</option>
						<option value="Tatsuno">Tatsuno</option>
						<option value="Tatsuno">Tatsuno</option>
						<option value="Tawaramoto">Tawaramoto</option>
						<option value="Tendo">Tendo</option>
						<option value="Tenri">Tenri</option>
						<option value="Toba">Toba</option>
						<option value="Tobetsu">Tobetsu</option>
						<option value="Tochigi">Tochigi</option>
						<option value="Toda">Toda</option>
						<option value="Togane">Togane</option>
						<option value="Tokamachi">Tokamachi</option>
						<option value="Toki">Toki</option>
						<option value="Tokoname">Tokoname</option>
						<option value="Tokorozawa">Tokorozawa</option>
						<option value="Tokushima-shi">Tokushima-shi</option>
						<option value="Tokuyama">Tokuyama</option>
						<option value="Tomakomai">Tomakomai</option>
						<option value="Tomigusuku">Tomigusuku</option>
						<option value="Tomioka">Tomioka</option>
						<option value="Tomiya">Tomiya</option>
						<option value="Tono">Tono</option>
						<option value="Tonosho">Tonosho</option>
						<option value="Toride">Toride</option>
						<option value="Tosu">Tosu</option>
						<option value="Tottori">Tottori</option>
						<option value="Toyama-shi">Toyama-shi</option>
						<option value="Toyohashi">Toyohashi</option>
						<option value="Toyokawa">Toyokawa</option>
						<option value="Toyonaka">Toyonaka</option>
						<option value="Toyooka">Toyooka</option>
						<option value="Tsubame">Tsubame</option>
						<option value="Tsubata">Tsubata</option>
						<option value="Tsuiki">Tsuiki</option>
						<option value="Tsukawaki">Tsukawaki</option>
						<option value="Tsukumi">Tsukumi</option>
						<option value="Tsuruga">Tsuruga</option>
						<option value="Tsurugi">Tsurugi</option>
						<option value="Tsuruoka">Tsuruoka</option>
						<option value="Tsushima">Tsushima</option>
						<option value="Tsuyama">Tsuyama</option>
						<option value="Ube">Ube</option>
						<option value="Ueda">Ueda</option>
						<option value="Uji">Uji</option>
						<option value="Uozu">Uozu</option>
						<option value="Urayasu">Urayasu</option>
						<option value="Ureshino">Ureshino</option>
						<option value="Ushiku">Ushiku</option>
						<option value="Usuki">Usuki</option>
						<option value="Utashinai">Utashinai</option>
						<option value="Uto">Uto</option>
						<option value="Uwajima">Uwajima</option>
						<option value="Wakkanai">Wakkanai</option>
						<option value="Wako">Wako</option>
						<option value="Wakuya">Wakuya</option>
						<option value="Warabi">Warabi</option>
						<option value="Watari">Watari</option>
						<option value="Yachimata">Yachimata</option>
						<option value="Yaizu">Yaizu</option>
						<option value="Yamada">Yamada</option>
						<option value="Yamaga">Yamaga</option>
						<option value="Yamagata-shi">Yamagata-shi</option>
						<option value="Yamaguchi-shi">Yamaguchi-shi</option>
						<option value="Yanagawa">Yanagawa</option>
						<option value="Yanai">Yanai</option>
						<option value="Yao">Yao</option>
						<option value="Yasu">Yasu</option>
						<option value="Yasugi">Yasugi</option>
						<option value="Yatsushiro">Yatsushiro</option>
						<option value="Yawata">Yawata</option>
						<option value="Yoichi">Yoichi</option>
						<option value="Yokaichiba">Yokaichiba</option>
						<option value="Yokkaichi">Yokkaichi</option>
						<option value="Yokohama-shi">Yokohama-shi</option>
						<option value="Yokosuka">Yokosuka</option>
						<option value="Yokote">Yokote</option>
						<option value="Yonago">Yonago</option>
						<option value="Yonezawa">Yonezawa</option>
						<option value="Yono">Yono</option>
						<option value="Yorii">Yorii</option>
						<option value="Yoshikawa">Yoshikawa</option>
						<option value="Yotsukaido">Yotsukaido</option>
						<option value="Yugawara">Yugawara</option>
						<option value="Yuki">Yuki</option>
						<option value="Yuza">Yuza</option>
						<option value="Yuzawa">Yuzawa</option>
						<option value="Zama">Zama</option>
						<option value="Zushi">Zushi</option>
					</select>
	        	</td>
	        </tr>
	    </table>
	    <br>
	    <input type="submit" value="新規登録" id="add_button"/><br><br>
	</form>
</body>
</html>
